@model DJResortWebsite.Models.Room_Usage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Room_Usage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfAdult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfAdult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfChildren)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfChildren)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checkin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checkin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checkout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checkout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
